{% extends "portfolio/header.html" %}

{% block content %}
<h1>Здравствуйте</h1>
<p>My name is Colton Sweeney. I'm a 19 year old web developer living in Apex, NC. I've been 
    programming for about 6 years and designing websites for a little less than that. I enjoy 
    scripting languages such as Python and JavaScript, but I also enjoy OO languages for their 
    complexity and breadth of features. I enjoy hiking the Appalachian Mountains as well as 
    visiting the town of Wilmington. I can relate to cats and dogs better than I do with most 
    people. I enjoy all types of music - Heavy Metal and EDM for when I work out, RnB for when I'm 
    running around, lo-fi for when I'm relaxing, I can tolerate Blue Grass but not so much Country. 
    I enjoy video games such as Call of Duty, Fallout, The Elder Scrolls, etc. English is my 
    primary language but I can read and write (and speak some) Russian. Head to my blog page for me info.
</p>
{% endblock %}