{% extends "portfolio/header.html" %} 
{% block content %}
<div class="jumbotron text-center banner">
  <h1 class="page-title">Portfolio</h1>
</div>

<div class="row">
    <h2 class="text-center">GitHub Repos</h2>
    <div class="col-sm-4 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block outline">Git</button>
    </div>
    <div class="col-sm-4 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block outline">Git</button>
    </div>
    <div class="col-sm-4 text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block outline">Git</button>
    </div>
</div>
{% endblock %}