{% extends "portfolio/header.html" %} {% block content %}
<div class="container-fluid" style="padding-left:25px;padding-right:25px;">
    <div class="row">
        <h2 class="text-center">GitHub Repos</h2>
        <div class="col-sm-4 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block outline">colton-sweeney</button>
        </div>
        <div class="col-sm-4 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block outline">portfolio</button>
        </div>
        <div class="col-sm-4 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block outline">checkCMS</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p>A Python x Django web application made to showcase my portfolio and blog for a personal website.</p>
        </div>
        <div class="col-sm-4">
            <p>A python/django website used to show a user portfolio.</p>
        </div>
        <div class="col-sm-4">
            <p>A Python program for determining the CMS of websites based on a number of techniques.</p>
        </div>
    </div>
</div>
{% endblock %}