{% extends "portfolio/header.html" %} {% block content %}

<div class="well text-center">
  <h2>Services</h2>
  <p>Here are some services that I can offer:</p>
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Web Development<br><span class="fa fa-code"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Software Development<br><span class="fa fa-laptop"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Social Media<br><span class="fa fa-group"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Graphic Design<br><span class="fa fa-pencil"></span></button>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Web Design</button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Web Design</button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Web Design</button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Web Design</button>
    </div>
  </div>
</div>

{% endblock content %}