{% extends "portfolio/header.html" %} {% block content %}

<div class="well text-center">
  <h2>Services</h2>
  <p>Here are some services that I can offer:</p><br><br>
  <div class="row" id="services">
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary btn-lg btn-block outline" data-toggle="modal" data-target="#myModal">WEB<br><span class="fa fa-code"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary btn-lg btn-block outline" data-toggle="modal" data-target="#myModal">SOFTWARE<br><span class="fa fa-laptop"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary btn-lg btn-block outline" data-toggle="modal" data-target="#myModal">SOCIAL<br><span class="fa fa-group"></span></button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary btn-lg btn-block outline" data-toggle="modal" data-target="#myModal">DESIGN<br><span class="fa fa-pencil"></span></button>
    </div>
  </div>
  <br>
  <br>
  <div class="row" id="services-info">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
  </div>
</div>

{% endblock content %}