{% extends "portfolio/header.html" %} 
{% block content %}
<div class="well">
  <h1 class="text-center">Web</h1>
  <p class="text-left">Available services: </p>
  <ul class="text-left">
    <li>Websites ranging from portfolios to ecommerce sites.</li>
    <li>Web apps for use on mobile devices.</li>
    <li>Scripts for isolated execution.</li>
    <li>Web asset creation; fonts, icons, graphics, etc.</li>
    <li>Hosting assistance.</li>
    <li>Search engine optimization.</li>
    <li>Content and experience management.</li>
  </ul>
</div>
<div class="well">
  <h1 class="text-center">Social</h1>
  <p class="text-left">Experience with:</p>
  <ul class="text-left">
    <li>Creating social posts on LinkedIn, Twitter.</li>
    <li>Promoting social content on sites like Facebook, Twitter, LinkedIn.</li>
    <li>Monitoring social hubs for keywords.</li>
    <li>Crawling search engines for popular topics.</li>
    <li>Supervising social pages for public/private use.</li>
  </ul>
</div>
<div class="well">
  <h1 class="text-center">Design</h1>
  <p class="text-left">Skills include:</p>
  <ul class="text-left">
    <li>Pixel-based image manipulation using Photoshop</li>
    <li>Vector-based image creation using Illustrator</li>
    <li>Scaling graphical asssets for applications</li>
    <li>Simple image touch-ups</li>
    <li>3D design in programs such as 3ds Max and AutoCAD</li>
    <li>Video editing in programs such as Adobe AfterEffects, Adobe Premier, and Sony Vegas</li>
  </ul>
</div>
{% endblock content %}