/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	height: 150px;
}

* {
	border-radius: 0 !important;
}

#body {
	padding-left: 50px;
	padding-right: 50px;
}

#blog-post {
	text-align: left;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}


.page-title {
	color:white;
	text-shadow:1px 1px 1px;
}

h1,
a {
	font-family: "Montserrat", sans-serif;
	text-shadow:1px 1px 3px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

.banner {
	background-image: url(../img/codeblue.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


    
/* Set black background color, white text and some padding */
footer {
	/*background-color: #555;*/
	color: white;
	padding: 15px;
}


/***************/
/*MEDIA QUERIES*/
/***************/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
	  height: auto;
	}
	.navbar {
		height: auto;
	}
	.brand {
		content: url(../img/title.png);
		width: 50%;
		height: auto;
	}
}

@media screen and (max-width: 1100px) {
	.brand {
		width: 50%
	}
}